<div id="<%= dom_id country_name %>">
  <p>
    <strong>Name:</strong>
    <%= country_name.name %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= country_name.language_id %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= country_name.country_id %>
  </p>

</div>
