<h1>Editing country name</h1>

<%= render "form", country_name: @country_name %>

<br>

<div>
  <%= link_to "Show this country name", @country_name %> |
  <%= link_to "Back to country names", country_names_path %>
</div>
