<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                <div class="card-body">
                    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: "form-control my-3" } %>
                      <%= f.input :password,
                                  required: false,
                                  input_html: { autocomplete: "current-password", class: "form-control mt-2" } %>

                      <div class="mt-4">
                        <%= f.button :submit, "Log in", class: "btn btn-primary w-100" %>            
                      </div>
                    <% end %>

                </div>
            </div>
        </div>
    </div>
</div>
