<%- model_class = Label -%>
<div class="flex-row d-flex justify-content-between align-items-center p-4">
  <h3 class="fs-4">Edit Label</h3>
  <%= link_to "Voltar", labels_path, class: "btn btn-primary w-auto" %>
</div>

<%= render "form", label: @label %>
