<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col">
    <h1 class="mt-4">Labels</h1>
  </div>
  
</div>
<div class="row">
  <table class="table">
    <thead>
        <tr>
            <th>My Favorites</th>
            <th>Already Visited</th>
            <th>My Itinerary</th>
            <th>Remove All</th>
            <th>Add</th>
            <th>Save</th>
            <th>View In Map</th>
            <th>Share</th>
            <th>reorder</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Choose Itinerary Name</th>
            <th>Languages</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <% @labels.each do |label| %>
        <%= render label %>
      <% end %>
    </tbody>
  </table>
</div>
