<tr>
  <td><%= country.name %></td>
  <td><%= country.local&.name %></td>
  <td>
    <%= link_to "Edit", edit_country_path(country), class: "btn btn-success" %>
    <%= link_to "Remove", country_path(country), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %>
  </td>
</tr>