<tr>
  <td><%= post_content&.post&.title %></td>
  <td><%= post_content.title %></td>
  <td><%= post_content.language&.name %></td>
  <td>
    <%= link_to "Edit", edit_post_post_content_path(@post, post_content, language_id: post_content.language_id), class: "btn btn-success" %>
  </td>
</tr>
