<h1>Editing post content</h1>

<%= render "form", post_content: @post_content %>

<br>

<div>
  <%= link_to "Show this post content", @post_content %> |
  <%= link_to "Back to post contents", post_contents_path %>
</div>
