<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col">
    <h1 class="mt-4">Post Content</h1>
    <div class="col d-flex justify-content-end align-items-center">
      <%= link_to "Back", posts_path, class: "btn btn-primary w-auto" %>
    </div>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
        <tr>
            <th>Original title</th>
            <th>Title</th>
            <th>Language</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <% @post_contents.each do |post_content| %>
        <%= render post_content %>
      <% end %>
    </tbody>
  </table>
</div>
