<div id="<%= dom_id local_name %>">
  <p>
    <strong>Name:</strong>
    <%= local_name.name %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= local_name.language_id %>
  </p>

  <p>
    <strong>Local:</strong>
    <%= local_name.local_id %>
  </p>

</div>
